
.container__content {
    margin-top: 6rem;
}

.container__util{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.container__display {
    padding: 1rem 0;
    margin-top: 2rem;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}