/* .conatiner__content {
    padding: 2rem 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
} */

.navbar-expand-lg .navbar-nav .linkNav {
    padding-right: 0.5rem;
}

.linkNav {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    transition: color 0.15s ease-in-out;
}

.linkNav:hover {
    color: rgba(255, 255, 255, 0.75);
}

.linkNav:disabled {
    color: rgba(255, 255, 255, 0.25);;
}

.me-auto {
    margin-right: 0!important;
    margin-left: auto!important;
}

.linkCat {
    text-decoration: none;
    color: black;
}

.linkCat:hover {
    color: gray;
}


.bowl-food{
    padding-right: 0.25rem;
}

.linkLogo {
    text-decoration: none;
    color: white;
    transition: none;
}

.linkLogo:hover {
    text-decoration: none;
    color: white;
}